@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Prompt:wght@300;400;500;700&display=swap");
/* .banner {
  background-image: url("https://i.ibb.co/QF3mTkd/4k-bike-pylot-artwork-z3ur1ltzjarjnkhu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1920px;
  height: 1080px;
} */

.bannerGround {
  background-image: linear-gradient(rgba(1, 106, 138, 0.7), rgba(0, 0, 0, 0.9)),
    url("https://i.ibb.co/FmFG9F0/wp12058744.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
